# BART Map

![Bart Map](bart_map.png)

In [18]:
import math
import numpy as np
import pandas as pd

import psycopg2

from geographiclib.geodesic import Geodesic
import gmaps
import gmaps.datasets

In [2]:
def my_calculate_box(point, miles):
    "Given a point and miles, calculate the box in form left, right, top, bottom"
    
    geod = Geodesic.WGS84

    kilometers = miles * 1.60934
    meters = kilometers * 1000

    g = geod.Direct(point[0], point[1], 270, meters)
    left = (g['lat2'], g['lon2'])

    g = geod.Direct(point[0], point[1], 90, meters)
    right = (g['lat2'], g['lon2'])

    g = geod.Direct(point[0], point[1], 0, meters)
    top = (g['lat2'], g['lon2'])

    g = geod.Direct(point[0], point[1], 180, meters)
    bottom = (g['lat2'], g['lon2'])
    
    return(left, right, top, bottom)

In [3]:
def my_station_get_zips(station, miles):
    "given a station, pull all zip codes with miles distance, print them, sum the population"
    
    connection.rollback()
    
    query = "select latitude, longitude from stations "
    query += "where station = '" + station + "'"
    
    cursor.execute(query)
    
    connection.rollback()
    
    rows = cursor.fetchall()
    
    for row in rows:
        latitude = row[0]
        longitude = row[1]
        
    point = (latitude, longitude)
        
    (left, right, top, bottom) = my_calculate_box(point, miles)
    
    query = "select zip, population from zip_codes "
    query += " where latitude >= " + str(bottom[0])
    query += " and latitude <= " + str(top [0])
    query += " and longitude >= " + str(left[1])
    query += " and longitude <= " + str(right[1])
    query += " order by 1 "

    cursor.execute(query)
    
    connection.rollback()
    
    rows = cursor.fetchall()
    
    print("\n-------------------------------------------------------------------------------")
    print("  Zip Codes within " + str(miles) + " mile(s) of " + station + " BART Station")
    print("-------------------------------------------------------------------------------\n")
    
    total_population = 0
    
    for row in rows:
        zip = row[0]
        population = row[1]
        print("     zip:", zip, "  population: ", f'{population:10,}')
        total_population += population
        
    
    print("\n-------------------------------------------------------------------------------")
    print("  Total Population: ", f'{total_population:10,}')
    print("-------------------------------------------------------------------------------")

In [4]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [5]:
cursor = connection.cursor()

In [6]:
#
# function to run a select query and return rows in a pandas dataframe
# pandas puts all numeric values from postgres to float
# if it will fit in an integer, change it to integer
#

def my_select_query_pandas(query, rollback_before_flag, rollback_after_flag):
    "function to run a select query and return rows in a pandas dataframe"
    
    if rollback_before_flag:
        connection.rollback()
    
    df = pd.read_sql_query(query, connection)
    
    if rollback_after_flag:
        connection.rollback()
    
    # fix the float columns that really should be integers
    
    for column in df:
    
        if df[column].dtype == "float64":

            fraction_flag = False

            for value in df[column].values:
                
                if not np.isnan(value):
                    if value - math.floor(value) != 0:
                        fraction_flag = True

            if not fraction_flag:
                df[column] = df[column].astype('Int64')
    
    return(df)

# Table customers

In [7]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select *
from customers

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

,customer_id,first_name,last_name,street,city,state,zip,closest_store_id,distance
0,1,Robb,Weaving,5 Ramsey Place,Oakland,CA,94609,1,1
1,2,Robby,Belliard,6 Londonderry Plaza,Oakland,CA,94609,1,1
2,3,Sadella,Caudrelier,548 Mcguire Parkway,Oakland,CA,94609,1,1
3,4,Holmes,Shimmings,99 Kennedy Court,Oakland,CA,94609,1,1
4,5,Beverley,Gubbin,51 Mcbride Drive,Oakland,CA,94609,1,1
...,...,...,...,...,...,...,...,...,...
31077,31078,Hugo,Domeney,529 5th Plaza,Thompsons Station,TN,37179,5,25
31078,31079,Glenn,Putson,1347 Westend Crossing,Thompsons Station,TN,37179,5,25
31079,31080,Minnie,Antham,9 Judy Place,Thompsons Station,TN,37179,5,25
31080,31081,Linet,Djorvic,29 Trailsway Drive,Thompsons Station,TN,37179,5,25
31081,31082,Randal,Bourdas,2 Crescent Oaks Drive,Thompsons Station,TN,37179,5,25

# count customer number group by zip code

In [8]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select zip, count(*)
from customers 
group by zip

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

       zip  count
0    37062      8
1    94066      9
2    75023      7
3    33131    115
4    76180      1
..     ...    ...
545  33168     61
546  76012      1
547  33128     76
548  94591      5
549  94158     56

[550 rows x 2 columns]

# join customer table with zip_codes table

In [9]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select a.zip, count(a.customer_id), b.latitude, b.longitude
from customers a
     join zip_codes b
       on a.zip = b.zip
group by 1,3,4
"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

       zip  count  latitude  longitude
0    94065      6   37.5354  -122.2467
1    94590      1   38.1030  -122.2486
2    98105    177   47.6607  -122.2840
3    75042     76   32.9139   -96.6749
4    75203    173   32.7463   -96.8030
..     ...    ...       ...        ...
545  94588      1   37.7375  -121.8818
546  75032      7   32.8550   -96.4276
547  33055     47   25.9482   -80.2780
548  94801     58   37.9496  -122.3811
549  37188      4   36.4802   -86.6813

[550 rows x 4 columns]

# Find all zip codes, with population, within 1 mile of the Downtown Berkeley station

In [10]:
my_station_get_zips('Downtown Berkeley', 1)

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Downtown Berkeley BART Station
-------------------------------------------------------------------------------

     zip: 94702   population:      17,092
     zip: 94703   population:      21,937
     zip: 94704   population:      29,190
     zip: 94709   population:      11,740
     zip: 94720   population:       2,971

-------------------------------------------------------------------------------
  Total Population:      82,930
-------------------------------------------------------------------------------

# double check population at zip 94702 is same with above

In [11]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select zip, sum(population)
from zip_codes
where zip = '94702'
group by zip
"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

     zip    sum
0  94702  17092

# drop zip_count_customer table if it exists

In [12]:
connection.rollback()

query = """

drop table if exists zip_count_customer;

"""

cursor.execute(query)

connection.commit()

# create zip_count_customer table (join customer table with zip_codes table)

In [13]:
connection.rollback()

query = """

create table zip_count_customer 

as select a.zip, count(a.customer_id) as customer_number, b.latitude, b.longitude
from customers a
     join zip_codes b
       on a.zip = b.zip
group by 1,3,4

"""

cursor.execute(query)

connection.commit()

# Verify the zip_count_customer table loaded correctly

In [14]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select *
from zip_count_customer
"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

       zip  customer_number  latitude  longitude
0    94065                6   37.5354  -122.2467
1    94590                1   38.1030  -122.2486
2    98105              177   47.6607  -122.2840
3    75042               76   32.9139   -96.6749
4    75203              173   32.7463   -96.8030
..     ...              ...       ...        ...
545  94588                1   37.7375  -121.8818
546  75032                7   32.8550   -96.4276
547  33055               47   25.9482   -80.2780
548  94801               58   37.9496  -122.3811
549  37188                4   36.4802   -86.6813

[550 rows x 4 columns]

# create function to get zip codes around a station within miles and total customer number

In [15]:
def my_station_get_zips(station, miles):
    "given a station, pull all zip codes with miles distance, print them, sum the customer_number"
    
    connection.rollback()
    
    query = "select latitude, longitude from stations "
    query += "where station = '" + station + "'"
    
    cursor.execute(query)
    
    connection.rollback()
    
    rows = cursor.fetchall()
    
    for row in rows:
        latitude = row[0]
        longitude = row[1]
        
    point = (latitude, longitude)
        
    (left, right, top, bottom) = my_calculate_box(point, miles)
    
    query = "select zip, customer_number from zip_count_customer "
    query += " where latitude >= " + str(bottom[0])
    query += " and latitude <= " + str(top [0])
    query += " and longitude >= " + str(left[1])
    query += " and longitude <= " + str(right[1])
    query += " order by 1 "

    cursor.execute(query)
    
    connection.rollback()
    
    rows = cursor.fetchall()
    
    print("\n-------------------------------------------------------------------------------")
    print("  Zip Codes within " + str(miles) + " mile(s) of " + station + " BART Station")
    print("-------------------------------------------------------------------------------\n")
    
    total_customer_number = 0
    
    for row in rows:
        zip = row[0]
        customer_number = row[1]
        print("     zip:", zip, "  customer_number: ", f'{customer_number:10,}')
        total_customer_number += customer_number
        
    
    print("\n-------------------------------------------------------------------------------")
    print("  Total customer_number: ", f'{total_customer_number:10,}')
    print("-------------------------------------------------------------------------------")

# read station table into dateframe

In [16]:
df = pd.read_csv ('stations.csv')
df

                 station   latitude   longitude  transfer_time
0            12th Street  37.803608 -122.272006            282
1    16th Street Mission  37.764847 -122.420042            287
2            19th Street  37.807869 -122.268980             67
3    24th Street Mission  37.752000 -122.418700            277
4                Antioch  37.996281 -121.783404              0
5                  Ashby  37.853068 -122.269957            299
6            Balboa Park  37.721667 -122.447500             48
7               Bay Fair  37.697000 -122.126500             63
8              Berryessa  37.368361 -121.874655            288
9          Castro Valley  37.690748 -122.075679              0
10          Civic Center  37.779861 -122.413498            325
11              Coliseum  37.753611 -122.196944             54
12                 Colma  37.684722 -122.466111            276
13               Concord  37.973745 -122.029127              0
14             Daly City  37.706224 -122.468934            285
15     Downtown Berkeley  37.869799 -122.268197            323
16                Dublin  37.701663 -121.899232              0
17      El Cerrito Plaza  37.902694 -122.298968            280
18  El Cerrito del Norte  37.925183 -122.316939            311
19           Embarcadero  37.793056 -122.397222            304
20               Fremont  37.557489 -121.976620            306
21             Fruitvale  37.774800 -122.224100            279
22             Glen Park  37.733118 -122.433808            314
23               Hayward  37.669700 -122.087000            284
24             Lafayette  37.893186 -122.124614              0
25          Lake Merritt  37.797773 -122.266588            309
26             MacArthur  37.828260 -122.267275             59
27              Millbrae  37.600300 -122.386700              0
28              Milpitas  37.410278 -121.891111            292
29     Montgomery Street  37.789355 -122.401942            313
30        North Berkeley  37.873915 -122.282552            289
31         North Concord  38.003273 -122.024599              0
32                   OAK  37.713200 -122.212200              0
33                Orinda  37.878427 -122.183740              0
34             Pittsburg  38.018869 -121.944208              0
35      Pittsburg Center  38.018227 -121.890178              0
36         Pleasant Hill  37.928399 -122.055992              0
37         Powell Street  37.784000 -122.408000            286
38              Richmond  37.936811 -122.353095            302
39             Rockridge  37.844452 -122.252083              0
40                   SFO  37.616400 -122.391000            291
41             San Bruno  37.638300 -122.416500            307
42           San Leandro  37.721764 -122.160684            298
43         South Hayward  37.634362 -122.057172            319
44   South San Francisco  37.664264 -122.444043            316
45            Union City  37.590746 -122.017282            293
46          Walnut Creek  37.905724 -122.067332              0
47          Warm Springs  37.503000 -121.940000            278
48           West Dublin  37.699726 -121.928273              0
49          West Oakland  37.804900 -122.295100            283

# get zip codes around all stations within 1 mile and total customer number

In [17]:
for station_name in df['station']:
#     print(station_name)
    my_station_get_zips(station_name, 1)

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of 12th Street BART Station
-------------------------------------------------------------------------------

     zip: 94612   customer_number:         161

-------------------------------------------------------------------------------
  Total customer_number:         161
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of 16th Street Mission BART Station
-------------------------------------------------------------------------------

     zip: 94103   customer_number:          77
     zip: 94114   customer_number:          58

-------------------------------------------------------------------------------
  Total customer_number:         135
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of 19th Street BART Station
-------------------------------------------------------------------------------

     zip: 94612   customer_number:         161

-------------------------------------------------------------------------------
  Total customer_number:         161
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of 24th Street Mission BART Station
-------------------------------------------------------------------------------

     zip: 94110   customer_number:          75
     zip: 94114   customer_number:          58

-------------------------------------------------------------------------------
  Total customer_number:         133
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Antioch BART Station
-------------------------------------------------------------------------------


-------------------------------------------------------------------------------
  Total customer_number:           0
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Ashby BART Station
-------------------------------------------------------------------------------

     zip: 94702   customer_number:         171
     zip: 94703   customer_number:         155
     zip: 94704   customer_number:         161

-------------------------------------------------------------------------------
  Total customer_number:         487
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Balboa Park BART Station
-------------------------------------------------------------------------------

     zip: 94112   customer_number:          40
     zip: 94127   customer_number:          36

-------------------------------------------------------------------------------
  Total customer_number:          76
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Bay Fair BART Station
-------------------------------------------------------------------------------

     zip: 94578   customer_number:          63

-------------------------------------------------------------------------------
  Total customer_number:          63
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Berryessa BART Station
-------------------------------------------------------------------------------


-------------------------------------------------------------------------------
  Total customer_number:           0
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Castro Valley BART Station
-------------------------------------------------------------------------------


-------------------------------------------------------------------------------
  Total customer_number:           0
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Civic Center BART Station
-------------------------------------------------------------------------------

     zip: 94102   customer_number:          78
     zip: 94103   customer_number:          77
     zip: 94104   customer_number:           5
     zip: 94108   customer_number:          50

-------------------------------------------------------------------------------
  Total customer_number:         210
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Coliseum BART Station
-------------------------------------------------------------------------------


-------------------------------------------------------------------------------
  Total customer_number:           0
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Colma BART Station
-------------------------------------------------------------------------------

     zip: 94015   customer_number:           4

-------------------------------------------------------------------------------
  Total customer_number:           4
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Concord BART Station
-------------------------------------------------------------------------------


-------------------------------------------------------------------------------
  Total customer_number:           0
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Daly City BART Station
-------------------------------------------------------------------------------


-------------------------------------------------------------------------------
  Total customer_number:           0
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Downtown Berkeley BART Station
-------------------------------------------------------------------------------

     zip: 94702   customer_number:         171
     zip: 94703   customer_number:         155
     zip: 94704   customer_number:         161
     zip: 94709   customer_number:         117
     zip: 94720   customer_number:          30

-------------------------------------------------------------------------------
  Total customer_number:         634
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Dublin BART Station
-------------------------------------------------------------------------------

     zip: 94568   customer_number:          10

-------------------------------------------------------------------------------
  Total customer_number:          10
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of El Cerrito Plaza BART Station
-------------------------------------------------------------------------------

     zip: 94706   customer_number:         175

-------------------------------------------------------------------------------
  Total customer_number:         175
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of El Cerrito del Norte BART Station
-------------------------------------------------------------------------------


-------------------------------------------------------------------------------
  Total customer_number:           0
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Embarcadero BART Station
-------------------------------------------------------------------------------

     zip: 94104   customer_number:           5
     zip: 94105   customer_number:          48
     zip: 94108   customer_number:          50
     zip: 94111   customer_number:          36
     zip: 94133   customer_number:          57

-------------------------------------------------------------------------------
  Total customer_number:         196
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Fremont BART Station
-------------------------------------------------------------------------------

     zip: 94536   customer_number:           8

-------------------------------------------------------------------------------
  Total customer_number:           8
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Fruitvale BART Station
-------------------------------------------------------------------------------

     zip: 94601   customer_number:         180

-------------------------------------------------------------------------------
  Total customer_number:         180
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Glen Park BART Station
-------------------------------------------------------------------------------

     zip: 94112   customer_number:          40
     zip: 94131   customer_number:          63

-------------------------------------------------------------------------------

  Total customer_number:         103
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Hayward BART Station
-------------------------------------------------------------------------------

     zip: 94541   customer_number:          10

-------------------------------------------------------------------------------
  Total customer_number:          10
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Lafayette BART Station
-------------------------------------------------------------------------------

     zip: 94549   customer_number:         129

-------------------------------------------------------------------------------
  Total customer_number:         129
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Lake Merritt BART Station
-------------------------------------------------------------------------------

     zip: 94612   customer_number:         161

-------------------------------------------------------------------------------
  Total customer_number:         161
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of MacArthur BART Station
-------------------------------------------------------------------------------

     zip: 94609   customer_number:         155

-------------------------------------------------------------------------------
  Total customer_number:         155
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Millbrae BART Station
-------------------------------------------------------------------------------

     zip: 94030   customer_number:          10

-------------------------------------------------------------------------------
  Total customer_number:          10
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Milpitas BART Station
-------------------------------------------------------------------------------


-------------------------------------------------------------------------------
  Total customer_number:           0
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Montgomery Street BART Station
-------------------------------------------------------------------------------

     zip: 94102   customer_number:          78
     zip: 94104   customer_number:           5
     zip: 94105   customer_number:          48
     zip: 94108   customer_number:          50
     zip: 94111   customer_number:          36
     zip: 94133   customer_number:          57

-------------------------------------------------------------------------------
  Total customer_number:         274
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of North Berkeley BART Station
-------------------------------------------------------------------------------

     zip: 94702   customer_number:         171
     zip: 94703   customer_number:         155
     zip: 94709   customer_number:         117

-------------------------------------------------------------------------------
  Total customer_number:         443
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of North Concord BART Station
-------------------------------------------------------------------------------

     zip: 94520   customer_number:          35

-------------------------------------------------------------------------------
  Total customer_number:          35
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of OAK BART Station
-------------------------------------------------------------------------------


-------------------------------------------------------------------------------
  Total customer_number:           0
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Orinda BART Station
-------------------------------------------------------------------------------

     zip: 94563   customer_number:         193

-------------------------------------------------------------------------------
  Total customer_number:         193
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Pittsburg BART Station
-------------------------------------------------------------------------------


-------------------------------------------------------------------------------
  Total customer_number:           0
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Pittsburg Center BART Station
-------------------------------------------------------------------------------

     zip: 94565   customer_number:           1

-------------------------------------------------------------------------------
  Total customer_number:           1
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Pleasant Hill BART Station
-------------------------------------------------------------------------------

     zip: 94597   customer_number:          74

-------------------------------------------------------------------------------
  Total customer_number:          74
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Powell Street BART Station
-------------------------------------------------------------------------------

     zip: 94102   customer_number:          78
     zip: 94103   customer_number:          77
     zip: 94104   customer_number:           5
     zip: 94105   customer_number:          48
     zip: 94108   customer_number:          50
     zip: 94109   customer_number:          75

-------------------------------------------------------------------------------
  Total customer_number:         333
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Richmond BART Station
-------------------------------------------------------------------------------


-------------------------------------------------------------------------------
  Total customer_number:           0
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Rockridge BART Station
-------------------------------------------------------------------------------

     zip: 94609   customer_number:         155
     zip: 94618   customer_number:         156

-------------------------------------------------------------------------------
  Total customer_number:         311
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of SFO BART Station
-------------------------------------------------------------------------------

     zip: 94128   customer_number:           1

-------------------------------------------------------------------------------
  Total customer_number:           1
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of San Bruno BART Station
-------------------------------------------------------------------------------

     zip: 94066   customer_number:           9

-------------------------------------------------------------------------------
  Total customer_number:           9
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of San Leandro BART Station
-------------------------------------------------------------------------------

     zip: 94577   customer_number:          72

-------------------------------------------------------------------------------
  Total customer_number:          72
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of South Hayward BART Station
-------------------------------------------------------------------------------

     zip: 94544   customer_number:           9

-------------------------------------------------------------------------------
  Total customer_number:           9
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of South San Francisco BART Station
-------------------------------------------------------------------------------


-------------------------------------------------------------------------------
  Total customer_number:           0
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Union City BART Station
-------------------------------------------------------------------------------

     zip: 94587   customer_number:           9

-------------------------------------------------------------------------------
  Total customer_number:           9
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Walnut Creek BART Station
-------------------------------------------------------------------------------

     zip: 94597   customer_number:          74

-------------------------------------------------------------------------------
  Total customer_number:          74
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of Warm Springs BART Station
-------------------------------------------------------------------------------


-------------------------------------------------------------------------------
  Total customer_number:           0
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of West Dublin BART Station
-------------------------------------------------------------------------------


-------------------------------------------------------------------------------
  Total customer_number:           0
-------------------------------------------------------------------------------

-------------------------------------------------------------------------------
  Zip Codes within 1 mile(s) of West Oakland BART Station
-------------------------------------------------------------------------------

     zip: 94607   customer_number:         203

-------------------------------------------------------------------------------
  Total customer_number:         203
-------------------------------------------------------------------------------

In [19]:
gmaps.configure(api_key='AIzaSyDN7R9rXpUPFX1aakqfuMqMf5RYviNmSj0')